body {
    display: flex;
    flex-direction: column;
}
main {
    padding:0;
    flex: 1;

}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 0;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

p {
    margin: 4%;
    font-size: 1rem;
    line-height: 1.4;
    
}

.hero-container {
    padding: 30px 20px;
    margin-bottom: 50px;
}

.pinecone-logo {
    height: 40px;
    width: auto;
    margin-left: 4%;
    margin-top: 5px;
}

nav {
    height: 20%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: 49;
    display: none;
}



nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

#mobile-btn {
    z-index: 50;
    border: none;
    border-radius: 16%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;
    margin: 12px;
    height: 40px;
    width: 40px;
}

#mobile-btn .bar {
    width: 24px;
    height: 4px;
    background: black;
}

nav.mobile-menu {
    display: flex;
    margin-top: 50px;
    margin-right: 12px;
}

.dropdown {
    position: relative;
    /* anchor for submenu */
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -160px;
    background: #A5B289;
    display: none;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.index-img-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    align-items: center;
    max-width: 400px;
    margin: 30px 0;
    justify-content: center;
}

.tree-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.roots-hemlock {
    display: contents;
    
}
.roots-hemlock .tree-link {
    grid-column: 1 /3;
    justify-self: center;
}

.hyperion-apple {
    display: contents;
}

.index-hyperion {
    height: auto;
    width: 60px;

}

.index-apple {
    height: auto;
    width: 80px;
}



.roots-img {
    grid-column: 1 /3;
    grid-row: 2;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}



.index-hemlock {
    height: auto;
    width: 60px;
}

.trees-title h2,
.trees-title h3 {
    text-align: center;
}

section img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.trees-title {
    text-align: center;
    margin: 30px 0;   
}


.about-pinecone {
    display: block;
    height: auto;
    width: 30%;
    margin: 60px auto 50px auto;
    
}

.about-trees {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 20px;
    gap: 20px
}

.about-hyperion {
    height: auto;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.about-apple {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.about-hemlock {
    height: auto;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.about-hyperion,
.about-apple,
.about-hemlock {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.apple-page-img {
    height: 100%;
    width: 100%;
}

footer {
    text-align: center;
    padding: 30px 20px;
    margin: 40px;
   
}

footer p {
   font-size: 0.8rem;
}

@media (min-width: 480px) {
    .roots-hemlock {
        align-items: center;
    }

    .roots-img {
        width: 60%;
        margin: 20px auto;
    }
    
    .hyperion-apple {
        margin-left: 0;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		height: auto;
		position: relative;
		width: 50%;
		background-color: transparent;
		left: auto;
		right: 0;
        padding: 20px;
    }

    #mobile-btn {
        display: none;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: -160px;
        background: #A5B289;
        display: none;
    }
    .index-img-links {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 30px auto;
        gap: 30px;
        max-width: 1200px;
        margin: 50px auto;
        align-items: start;
    }

    .index-img-links + p {
        margin-top: 40px;
    }

    .hyperion-apple {
        display: contents;

    }

    .roots-hemlock {
        display: contents;
    }
    .hyperion-apple .tree-link:last-child {
        grid-column: 3;
        grid-row: 1;

    }
    .roots-hemlock .tree-link {
        grid-column: 2;
        grid-row: 3;
    }

    .roots-img {
        grid-column: 2;
        grid-row: 1;
        max-width: 350px;
        margin-bottom: 0;
    }

    .index-hyperion {
        width: 100px;
        max-height: 200px;
        object-fit: contain;

    }
    .index-apple {
        width: 150px;

    }
    .index-hemlock {
        width: 120px;

    }
    

    .pinecone-logo {
        width: 45px;
        height: auto;
    }

    .roots-img {
        width: 50%;
        margin-bottom: 20px;

    }

    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    
    }
    
    p {
        font-size: 1.2rem;
        margin: 2% 5%;
        line-height: 1.2;
    }
    .hero-container {
        padding: 50px 30px;
        margin-bottom: 50px;
    }

    .about-pinecone {
        width: 15%;
        max-width: 150px;
    }
    footer {
        text-align: center;
        padding: 40px 30px;
        margin-top: 60px;
        font-size: 1.5rem;
    }
}
