body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f5e9d0;
    margin: 0;
}

main {
    padding: 0;
    flex: 1;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 0;
    background-color: #382920;
    z-index: 100;
    padding: 15px 20px;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

h1,
h2 {
    text-align: center;
}

h1 {
    letter-spacing: 1.2px;
    font-size: 1.7rem;
    font-family: 'Croissant One', cursive;
        text-shadow: 
        1px 1px 0px #a69c91,
        3px 3px 4px rgba(0, 0, 0, 0.1);


}


h2 {
    font-size: 1rem;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

h5 {
    font-family: 'Croissant One', cursive;
    font-size: 1.4rem;
}

.h2-mobile {
    display: block;
}

.h2-desktop {
    display: none;
}

.trees-title-mobile .h2-mobile {
    text-align: left;
    font-size: .9rem;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.trees-title-mobile .h2-desktop {
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

p {
    margin: 4%;
    font-size: .9rem;
    line-height: 1.4;
    text-align: left;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.overlay {
    border-radius: 8px;
    background-color: #A5B289;
    width: 80%;
    position: absolute;
    display: none;
    z-index: 1000;
    box-shadow: 0 8px 20px rgba(0,0,0,0.09);
}

.overlay span {
    cursor: pointer;
}

.exit-btn {
    font-size: 32px;
}

.click-pinecone {
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.hero-container {
    padding: 10px 20px;
    margin-bottom: 50px;
    background-color: #DBC1AA;
 
}

.pinecone-logo {
    height: 40px;
    width: auto;
    margin-left: 4%;
    margin-top: 5px;
}

.pinecone-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.pinecone-link shake {
    animation: shake 0.3s ease-in-out;
}

.pinecone-link span {
    font-size: .7rem;
    font-weight: normal;
}

.click-pinecone {
    width: 30px;
    height: auto;
    cursor: pointer;
}


nav {
    height: 20%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: 49;
    display: none;
}



nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    font-family: 'Hedvig Letters Sans', sans-serif;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    font-style: italic;
}

#mobile-btn {
    z-index: 50;
    border: none;
    border-radius: 16%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;
    margin: 12px;
    height: 40px;
    width: 40px;
    background-color: transparent;
}

#mobile-btn .bar {
    width: 24px;
    height: 2px;
    background: #E6E1D0;
    border-radius: 15%;
}

nav.mobile-menu {
    display: flex;
    margin-top: 70px;
    margin-right: 10px;
    background-color: #A5B289;
    border-radius: 2.5px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -216px;
    background: #A5B289;
    display: none;
    padding: 15px;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.dropdown-toggle:hover {
    text-decoration: underline;
    font-style: italic;
}

.index-img-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    align-items: end;
    max-width: 800px;
    margin: 30px 0;
    justify-content: center;
}

.tree-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Croissant One', cursive;
    text-decoration:none;
    color: #5a4a3a;
    margin-top: 10px;
    transition: all(1s);
    /* needs adjusting */
}

.tree-link:hover {
    color: #7a9b6f;
    transform: scale(1.05);
}

.roots-hemlock {
    display: contents;

}

.roots-hemlock .tree-link {
    grid-column: 1 /3;
    justify-self: center;
}

.hyperion-apple {
    display: contents;
}

.index-hyperion {
    height: auto;
    width: 35%;

}

.index-apple {
    height: auto;
    width: 50%;
}

.roots-img {
    grid-column: 1 /3;
    grid-row: 2;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.3));
}

.index-hemlock {
    height: auto;
    width: 25%;
}

section img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

section {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.trees-title-mobile {
    text-align: left;
    margin: 30px 0;
    padding-left: 5%;
}

.trees-title-mobile h2,
.trees-title-mobile h3,
.trees-title-mobile h4 {
    text-align: left;
}
.trees-title-mobile h2 {
    margin-bottom: 3px;
}
.trees-title-mobile h3 {
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: 'Croissant One', cursive;
}
.trees-title-mobile h4 {
    margin-top: 0px;
}

.trees-title-desktop {
    display: none;
}

.trees-title-desktop h2,
.trees-title-desktop h3,
.trees-title-desktop h4 {
    text-align: left;
}
.trees-title-desktop h2 {
    margin-bottom: 3px;
}
.trees-title-desktop h3 {
    margin-top: 0px;
    font-family: 'Croissant One', cursive;
}


.pinecone-and-tree {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

.about-pinecone {
    display: block;
    height: auto;
    width: 30%;
    margin: 60px auto 50px auto;
    animation: shake 4s ease-in-out infinite;
    filter: drop-shadow(0 8px 12px rgba(92, 89, 89, 0.3));

}


.about-trees {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 20px;
    gap: 20px
}

.about-hyperion {
    height: auto;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.about-apple {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.about-hemlock {
    height: auto;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.about-hyperion,
.about-apple,
.about-hemlock {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.hemlock-page-img {
    animation: sway-gentle 3.5s ease-in-out infinite;
}

.apple-page-img {
    height: 100%;
    width: 100%;
    animation: sway-gentle 4s ease-in-out infinite;
}

.hyperion-page-img {
    width: 50%;
    animation: sway-gentle 4s ease-in-out infinite;
}


footer {
    text-align: center;
    padding: 30px 20px;
    margin: 0;
    background-color: #382920;
    color: #E6E1D0;

}

footer p {
    font-size: 0.8rem;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
@keyframes float {
    0%, 100% {
        transform: translate(0px);
    }
    50% {
        transform: translate(-8px);

    }
     }
 @keyframes sway-gentle{
    0%, 100% {
        transform: rotate(0deg);
     }
     50% {
        transform: rotate(1deg);

     }   
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    75% { transform: translateX(5px) rotate(5deg); }
}

@media (min-width: 480px) {
    .roots-hemlock {
        align-items: center;
    }

    .roots-img {
        width: 60%;
        margin: 20px auto;
        filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.3));
    }

    .hyperion-apple {
        margin-left: 0;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        position: relative;
        width: 50%;
        background-color: transparent;
        left: auto;
        right: 0;
        padding: 20px;
    }

    #mobile-btn {
        display: none;
    }

    nav.mobile-menu {
        display: flex;
        margin-top: 70px;
        margin-right: 10px;
        background-color: transparent;
        border: 2px solid black;
    }

    nav a, .dropdown-toggle {
        color: #F1EDE4;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: -160px;
        background: #A5B289;
        display: none;
        border: none;
    }

    .dropdown-menu a {
        color: black;
    }

    .pinecone-and-tree {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-right: 100px;
    }

    .overlay {
        width: 50%;
        max-width: 500px;
        padding: 40px;
    }

    .click-pinecone {
        width: 60px;
        height: auto;
    }

    .pinecone-link span {
        font-size: .85rem;
        font-family: 'Hedvig Letters Sans', sans-serif;
    }

    .h2-mobile {
        display: none;
    }

    .h2-mobile {
        display: none;
    }

    .h2-desktop {
        display: flex;
        margin-left: 5%;
    }

    .desktop-text {
        display: flex;
        flex-direction: column;
    }

    .desktop-row {
        display: flex;
        flex-direction: row;
        margin: auto 5%;
        justify-content: start;
    }

    .trees-title-mobile {
        display: none;
    }

    .trees-title-desktop {
        display: flex;
        flex-direction: column;
        text-align: left;  
    }

    .index-img-links {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 30px auto;
        gap: 30px;
        max-width: 2000px;
        margin: 50px auto;
        align-items: end;
    }

    .index-img-links+p {
        margin-top: 40px;
    }

    .hyperion-apple {
        display: contents;
    }

    .roots-hemlock {
        display: contents;
    }

    .hyperion-apple .tree-link:last-child {
        grid-column: 3;
        grid-row: 1;

    }

    .roots-hemlock .tree-link {
        grid-column: 2;
        grid-row: 3;
    }

    .roots-img {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        margin-bottom: 0;
    }

    .index-hyperion {
        width: 40%;
        height: auto;
        object-fit: contain;
        filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.3));

    }

    .index-apple {
        width: 60%;

    }

    .index-hemlock {
        width: 25%;

    }

    .pinecone-logo {
        width: 45px;
        height: auto;
    }

    .about-img-desktop {
        display: flex;
        flex-direction: column;
    }
    .tree-link {
        font-size: 1.1rem;
    }

    .trees-title-desktop h2 {
        font-size: 1.2rem;
        text-align: left;
        font-family: 'Hedvig Letters Sans', sans-serif;
    }

    .trees-title-desktop h3 {
        font-size: 1.5rem;
        text-align: left;
        font-family: 'Croissant One', cursive;
    }

    .trees-title-desktop h4 {
        font-size: 1.3rem;
        text-align: left;
        font-family: 'Hedvig Letters Sans', sans-serif;
    }

    h1 {
        font-size: 2.5rem;
        font-family: 'Croissant One', cursive;
    }

    h2 {
        font-size: 1.8rem;
        font-family: 'Hedvig Letters Sans', sans-serif;

    }

    h3,
    h4 {
        padding-left: 5%;
    }

    p {
        font-size: 1.2rem;
        margin: 2% 5%;
        line-height: 1.2;
        font-family: 'Hedvig Letters Sans', sans-serif;
    }

    .hero-container {
        box-sizing: border-box;
        padding: 50px 30px;
        margin-bottom: 50px;
        width: 100%;
    }

    .apple-page-img {
        height: auto;
        margin-right: 300px;
    }

    .about-pinecone {
        width: 50%;
        max-width: 150px;
        margin: 30px auto;
    }

    .about-trees {
        margin: 10px;
    }

    footer {
        text-align: center;
        padding: 40px 30px;
        margin-top: 60px;
        font-size: 1.5rem;
        font-family: 'Hedvig Letters Sans', sans-serif;
    }

    footer p {
        text-align: center;
        font-size: 1rem;
    }
}